<?xml version="1.0"?>
<testsuites>
    <testsuite name="PackageTest: " tests="2" assertions="2" failures="1" errors="0" time="90.896435">
        <testcase name="testExampleFail" class="PackageTest"
            file="/Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/package/PackageTest.php" line="11"
            assertions="1" time="55.513845">
            <failure type="PHPUnit_Framework_ExpectationFailedException">PackageTest::testExampleFail
                Failed asserting that false is true.

                /Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/package/PackageTest.php:13
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/TextUI/Command.php:152
                phar:///usr/local/bin/phpunit/phpunit/TextUI/Command.php:104
            </failure>
        </testcase>
        <testcase name="testExampleSuccess" class="PackageTest"
            file="/Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/package/PackageTest.php" line="16"
            assertions="1" time="35.382590"/>
    </testsuite>
    <testsuite name="AnotherTest: " tests="2" assertions="2" failures="1" errors="0" time="80.254634">
        <testcase name="testExampleFail" class="AnotherTest"
            file="/Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/AnotherTest.php" line="11" assertions="1"
            time="32.885831">
            <failure type="PHPUnit_Framework_ExpectationFailedException">AnotherTest::testExampleFail
                Failed asserting that false is true.

                /Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/AnotherTest.php:13
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/TextUI/Command.php:152
                phar:///usr/local/bin/phpunit/phpunit/TextUI/Command.php:104
            </failure>
        </testcase>
        <testcase name="testExampleSuccess" class="AnotherTest"
            file="/Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/AnotherTest.php" line="16" assertions="1"
            time="47.368803"/>
    </testsuite>
    <testsuite name="SimpleTest: " tests="2" assertions="2" failures="1" errors="0" time="97.068699">
        <testcase name="testExampleFail" class="SimpleTest"
            file="/Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/SimpleTest.php" line="11" assertions="1"
            time="44.065198">
            <failure type="PHPUnit_Framework_ExpectationFailedException">SimpleTest::testExampleFail
                Failed asserting that false is true.

                /Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/SimpleTest.php:13
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/Framework/TestSuite.php:716
                phar:///usr/local/bin/phpunit/phpunit/TextUI/Command.php:152
                phar:///usr/local/bin/phpunit/phpunit/TextUI/Command.php:104
            </failure>
        </testcase>
        <testcase name="testExampleSuccess" class="SimpleTest"
            file="/Users/greenhouse/tmpDp1DtB/greenhouse-ios/appium/php/SimpleTest.php" line="16" assertions="1"
            time="53.003501"/>
    </testsuite>
</testsuites>
