<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7791B6E418BF8B2D00EA3020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7791B70818BF8B2E00EA3020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77CBB5151952CF82007B2090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77CBB5371952CF83007B2090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
